<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- range slider -->

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <script>
        var itemData = <%-JSON.stringify(item)%>;
        var userName = "<%=userName%>";

        //Variables to be updated
       
        const url = document.URL ;
    </script>
    <style>
        .placebidBtn {
            outline:none;
            padding: 10px 24px 10px 24px;
            background: transparent;
            border: 2.3px solid #008060;
            color: #008060;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 500;
            transition-duration: 0.3s;
            transition-delay: 0.2s ease;
        }
        .placebidBtn:hover {
            background-color: #008060;
            color: white;
        }
        .submit-btn {
            background-color: #008060;
            padding: 8px 30px 8px 30px;
            outline: none;
            border: none;
            color: white;
            border-radius: 5px;
            transform: translate(0,-1px);
            transition-duration: 0.3s;
            transition-delay: 0.2s ease;
        }
        .submit-btn:hover {
            background-color: #005e46;
        }
    </style>
</head>

<body>

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/">
                            <span>
                              Zero Kelvin
                            </span>
                          </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/schedule">Create an Auction</a>
                                  </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->

        <!-- end slider section -->
    </div>
    <div class="hero_area" style="margin-top: 30px;margin-left: 50px;margin-right: 40px;">

        <div class="row align-items-center">
            <div class="col-6">
                <img src="/auction_images/<%=item.image%>" width="90%" style="box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), -10px 12px 11px 0 rgba(0, 0, 0, 0.19);">
            </div>
            <div class="col-6 jus">
                <div class="heading_container">
                    <h2>
                        <%=item.name%>
                    </h2>
                </div><br>
                <div>
                    <%=item.description%>
                </div>
                <div><br><br>
                    <button class="placebidBtn">Place Bid</button>
                </div>
            </div>
        </div><hr>

        <div class="row" style="margin-top: 40px;margin-bottom: 50px;">
            <div class="col-6">
                <div class="heading_container">
                    <h2>
                        Bids
                    </h2>
                </div>
                <table class="table table-bordered" style="width:580px;margin-top: 15px;" id="myTable">
                    <tr>
                        <th scope="col">Bidder</th>
                        <th scope="col">Bid</th>
                    </tr>
                <tbody id="bidtable">
                    
                    <% if(Bids){ %>
                    <% for(var i=0; i < Bids.length; i++) { %>
                        <tr>
                            <td>
                                <%=Bids[i].Author.displayName%>
                            </td>
                            <td>
                                $<%=Bids[i].value%>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                </tbody>   
                </table>
            </div>
            <div class="col-6">
                <div class="heading_container">
                    <h2>
                        Place a Bid
                    </h2>
                </div>
                <table class="table table-bordered" style="width:580px;margin-top: 15px;" id="myTable">
                <tbody id="bidtable">
                        <tr>
                            <td>
                                Starting Bid
                            </td>
                            <td>
                                $<%=item.Startingbid%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Current Bid
                            </td>
                            <td>
                                $<%=item.Currentbid%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Multiple
                            </td>
                            <td>
                                $<%=item.Multiple%>
                            </td>
                        </tr>
                </tbody>   
                </table>
                <div style="margin-top: 40px;">
                    <form method="POST" action="/placebid/<%=auctionid%>/item/<%=itemid%>">
                    <input id="bidamount" name="bidamount" type="number" style="font-size: 16px;height: 40px;width:405px;padding-left: 10px;outline:none;border: 1px solid rgb(212, 212, 212);"   required placeholder="Enter amount">
                    <button class="submit-btn" style="" type="submit">Place Bid</button></form>
                </div>
            </div>
        </div>

        
        
    </div>
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_contact">
                        <h5>
                            <a href="" class="navbar-brand">
                                <span>
                                    E - AUCTION
                                </span>
                            </a>
                        </h5>
                        <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Address
                        </p>
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            +01 1234567890
                        </p>
                        <p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            demo@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links">
                        <h5>
                            Useful Link
                        </h5>
                        <ul>
                            <li>
                                <a href="index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="product.html">
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="why.html">
                                    Why Us
                                </a>
                            </li>
                            <li>
                                <a href="testimonial.html">
                                    Testimonial
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                Subscribe
                            </button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var Currentbid=<%=item.Currentbid%>;
        var Multiple=<%=item.Multiple%>;
        document.getElementById('bidamount').min=parseInt(Currentbid) + parseInt(Multiple)
        document.getElementById('bidamount').step=parseInt(Multiple)
        document.getElementById('currentbid').value=Currentbid
        
        
        function updatedata(){
            document.getElementById('bidamount').min=parseInt(Currentbid) + parseInt(Multiple)
            document.getElementById('bidamount').step=parseInt(Multiple)
            document.getElementById('currentbid').value=Currentbid
            
        }
       

        async  function callapi () {
        await fetch('/itemdataupdate/<%=auctionid%>/item/<%=itemid%>', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        },
        }).then(function(response) {
            response.json().then((res)=>{
                Currentbid=res.item.Currentbid;
                Multiple=res.item.Multiple;
                updatedata();
                document.getElementById('bidtable').innerHTML=null;
                for (let i = 0; i < res.Bids.length ; i++) {
        var temp = `<tr>
                                <td>
                                    ${res.Bids[i].Author.displayName}
                                </td>
                                <td>
                                    $${res.Bids[i].value}
                                </td>
                            </tr>`;
        document.getElementById('bidtable').innerHTML += temp;
      }
            });      
        })

    }
    setInterval(function(){ 
   callapi();   
}, 5000);


   
    </script>

    <!-- end info_section -->


    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function sortTable() {
          var table, rows, switching, i, x, y, shouldSwitch;
          table = document.getElementById("myTable");
          switching = true;
          /*Make a loop that will continue until
          no switching has been done:*/
          while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
              //start by saying there should be no switching:
              shouldSwitch = false;
              /*Get the two elements you want to compare,
              one from current row and one from the next:*/
            //   console.log(rows[i]);
              x = rows[i].getElementsByTagName("td")[1];
              y = rows[i + 1].getElementsByTagName("td")[1];
              //check if the two rows should switch place:
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
            if (shouldSwitch) {
              /*If a switch has been marked, make the switch
              and mark that a switch has been done:*/
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
          }
          
        };
        document.addEventListener("DOMContentLoaded", function() {
            sortTable();
        });
        sortTable();
        </script>
<script src="https://kit.fontawesome.com/448b1e259f.js" crossorigin="anonymous"></script>

</body>

</html>